h1 {
  text-align: center;
  color: #0392cf;
  font-size: 45pt;
}


#gameBoard {
  margin: 0 auto;
  height: 700px;
  width: 700px;
  background-color: black;
  border-style: solid;
  border-color: blue;
  opacity: 0.7;

}
.tile{
  background-color: blue;
  border-style: solid;
  border-color: black;
}

p {
  text-align: center;
  font-size: 15pt;
  color: #0392cf;
}

.hit{
  background-color: red;
}

h3{
  text-align: center;
}

button{
  margin-left: 50px;
}

h2 {
  text-align:right;
  margin-right: 400px;
}

footer {
  color: #83adb5;
  text-align: right;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-right: 10px;
}

#ship{
  text-align: center;
  color: #83adb5;
}

#torpedoCount{
  margin-top: 100px;
  color: #0392cf;
  font-size: 20pt;
}

.reveal{
  background-color: #444444;
}
body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/83/USS_Texas2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Special Elite', cursive;
}

#miss, #try {
  color: skyblue;
}
#hit {
  color: #fe2e2e
}

#winner{
  color: #83adb5;
}

.misses{
  background-color: skyblue;
}
