h1 {
  text-align: center;
  color: #0392cf;
  font-family: 'Special Elite', cursive;
  font-size: 45pt;
}


#gameBoard {
  margin: 0 auto;
  height: 700px;
  width: 700px;
  background-color: black;
  border-style: solid;
  border-color: blue;
  opacity: 0.7;

}
.tile{
  background-color: blue;
  border-style: solid;
  border-color: black;
}

p {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 15pt;
  color: #0392cf;
}

.hit{
  background-color: red;
}

h3{
  text-align: center;
  font-family: 'Special Elite', cursive;
}

button{

  margin-left: 500px;
  font-family: 'Special Elite', cursive;
}
h2 {
  text-align:right;
  margin-right: 400px;
  font-family: 'Special Elite', cursive;
}

footer {
  text-align: right;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-right: 10px;
  font-family: 'Special Elite', cursive;
}

#ship{
  text-align: center;
  color: #83adb5;
}

#torpedoCount{
  color: #black;
  font-size: 20pt;
}

.reveal{
  background-color: #444444;
}
body{
  background-image: url(http://i.huffpost.com/gen/1496805/thumbs/o-7-900.jpg?1);
  background-size: cover;
  background-repeat: no-repeat;
}

#miss, #try {
  color: skyblue;
}
#hit {
  color: #fe2e2e
}

#winner{
  color: black;
}

.misses{
  background-color: skyblue;
}
